
#root {
    
  }

  .inputs {
    position: relative;
  }

  .switchButton {
    background-color: #3a4157;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    position: absolute;
    top: 86px;
    left: 180px;
    color: #5F6783;
    border: 3px solid #0E111B;
    font-size: 12px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dollarAmount {
    position: absolute;
    top: 75px;
    left: 14px;
    font-size: 10px;
    color: #5F6783;
  }
  
  .switchButton:hover {
    color: white;
    cursor: pointer;
  }
  
  .assetOne {
    position: absolute;
    min-width: 50px;
    height: 30px;
    background-color: #3a4157;
    top: 36px;
    right: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 12px;
    padding-right: 8px;
  }
  
  .assetTwo {
    position: absolute;
    min-width: 50px;
    height: 30px;
    background-color: #3a4157;
    top: 135px;
    right: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 12px;
    padding-right: 8px;
  }
  
  .assetOne:hover{
    cursor: pointer;
  }
  
  .assetTwo:hover{
    cursor: pointer;
  }
  
  .assetLogo {
    height: 22px;
    margin-left: 5px;
  }
  
  .swapButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 55, 105); 
    width: calc(100%);
    height: 75px;
    font-size: 20px;
    border-radius: 12px;
    color: #d9e3ff9b;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-top: 8px;
  }
  
  .swapButton[disabled] {
    background-color: rgb(205, 55, 105);
    opacity: 0.4;
    height: 75px;
    color: #d9e3ff9b;
  }
  
  .swapButton[disabled]:hover {
    cursor: not-allowed;
    background-color: rgb(205, 55, 105);
    height: 75px;
  }
  
  .swapButton:hover {
    cursor: pointer;
    background-color: #ff005d;
    color: white;
  }
  
  .tokenLogo {
    height: 40px;
    width: 40px;
  }

  
.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}
  
  .cog {
    color: #51586f;
    transition: 0.3s;
  }
  
  .cog:hover {
    color: white;
    rotate: 90deg;
    cursor: pointer;
  }